<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zksy.reservationsystem.dao.CommonPeriodDao">
    <insert id="insertCommonPeriod">
        insert
        common_period (start_timestamp, end_timestamp, job_id)
        values (
        #{startTimestamp},
        #{endTimestamp},
        #{jobId}
        )
    </insert>

    <delete id="deleteCommonPeriod">
        delete
        from common_period
        where id = #{comPeriodId}
    </delete>

    <select id="queryCommonPeriodPoListByJobId" resultMap="commonPeriodPoMap">
        select id, start_timestamp, end_timestamp, job_id
        from common_period
        where job_id = #{jobId}
    </select>

    <select id="queryCommonPeriodPoByComPeriodId" resultMap="commonPeriodPoMap">
        select id, start_timestamp, end_timestamp, job_id
        from common_period
        where id = #{comPeriodId}
    </select>

    <resultMap id="commonPeriodPoMap" type="com.zksy.reservationsystem.domain.po.CommonPeriodPo">
        <id property="id" column="id"/>
        <result property="startTimestamp" column="start_timestamp"/>
        <result property="endTimestamp" column="end_timestamp"/>
        <result property="jobId" column="job_id"/>
    </resultMap>
</mapper>
