<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zksy.reservationsystem.dao.FeedbackOptionDao">
    <insert id="insertFeedbackOption">
        insert
        stu_feedback_option(`option`) value (
        #{option}
        )
    </insert>

    <update id="deleteFeedbackOption">
        update stu_feedback_option
        set is_deleted = 1
        where id = #{optionId}
    </update>

    <select id="queryFeedbackOptionList" resultMap="feedbackOptionPoMap">
        select id, `option`
        from stu_feedback_option
        where is_deleted = 0
    </select>

    <select id="queryFeedbackOptionByOptionId" resultMap="feedbackOptionPoMap">
        select id, `option`
        from stu_feedback_option
        where id = #{optionId}
          and is_deleted = 0
    </select>

    <select id="queryFeedbackOptionWithDeletedByOptionId" resultMap="feedbackOptionPoMap">
        select id, `option`
        from stu_feedback_option
        where id = #{optionId}
    </select>

    <resultMap id="feedbackOptionPoMap" type="com.zksy.reservationsystem.domain.po.FeedbackOptionPo">
        <id property="id" column="id"/>
        <result property="option" column="option"/>
    </resultMap>
</mapper>
