<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zksy.reservationsystem.dao.PeriodDao">
    <insert id="insertPeriod">
        insert
        `period` (start_time, end_time, job_id) values (
        #{startTime},
        #{endTime},
        #{jobId}
        )
    </insert>

    <update id="updateIsReservedAndStudentId">
        update `period`
        set is_reserved = #{isReserved},
            student_id  = #{studentId}
        where id = #{periodId}
    </update>

    <delete id="deletePeriod" parameterType="integer">
        delete
        from `period`
        where id = #{periodId}
    </delete>

    <select id="queryPeriodDtoListByJobId" resultMap="periodDtoMap">
        select id, start_time, end_time
        from period
        where job_id = #{jobId}
        order by start_time
    </select>

    <select id="queryPeriodPoByPeriodId" resultMap="periodPoMap">
        select id, start_time, end_time, job_id, is_reserved, student_id
        from `period`
        where id = #{periodId}
        order by start_time
    </select>

    <resultMap id="periodDtoMap" type="com.zksy.reservationsystem.domain.dto.PeriodDto">
        <id property="id" column="id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
    </resultMap>

    <resultMap id="periodPoMap" type="com.zksy.reservationsystem.domain.po.PeriodPo">
        <id property="id" column="id"/>
        <result property="startTime" column="start_time"/>
        <result property="endTime" column="end_time"/>
        <result property="jobId" column="job_id"/>
        <result property="isReserved" column="is_reserved"/>
        <result property="studentId" column="student_id"/>
    </resultMap>
</mapper>
