<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zksy.reservationsystem.dao.ReserveTypeDao">
    <insert id="insertReserveType">
        insert
        reserve_type(type) value (
        #{type}
        )
    </insert>

    <update id="deleteReserveType">
        update reserve_type
        set is_deleted = 1
        where id = #{typeId}
    </update>

    <select id="queryReserveTypeList" resultMap="reserveTypePoMap">
        select id, `type`
        from reserve_type
        where is_deleted = 0
    </select>

    <select id="queryReserveTypeByTypeId" resultMap="reserveTypePoMap">
        select id, `type`
        from reserve_type
        where id = #{typeId}
          and is_deleted = 0
    </select>

    <select id="queryReserveTypeWithDeletedByTypeId" resultMap="reserveTypePoMap">
        select id, `type`
        from reserve_type
        where id = #{typeId}
    </select>

    <resultMap id="reserveTypePoMap" type="com.zksy.reservationsystem.domain.po.ReserveTypePo">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
    </resultMap>
</mapper>
