<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zksy.reservationsystem.dao.StuAuthDao">
    <insert id="insertStuAuth">
        insert
        stu_auth(uname, passwd) values (
        #{uname},
        #{passwd}
        )
    </insert>

    <update id="deleteStuAuth">
        update stu_auth
        set is_deleted = 1
        where uname = #{studentId}
    </update>

    <update id="updateStuAuth">
        update stu_auth
        set passwd     = #{passwd},
            is_deleted = #{isDeleted}
        where uname = #{uname}
    </update>

    <select id="queryStuAuthPoByStudentId" resultMap="stuAuthPoMap">
        select id, uname, passwd, is_deleted
        from stu_auth
        where uname = #{studentId}
          and is_deleted = 0
    </select>

    <select id="queryStuAuthPoWithDeleted" resultMap="stuAuthPoMap">
        select id, uname, passwd, is_deleted
        from stu_auth
        where uname = #{studentId}
    </select>

    <select id="queryStuAuthPoByWxOpenId" resultMap="stuAuthPoMap">
        select id, uname, passwd, is_deleted
        from stu_auth
        where wx_open_id = #{wxOpenId}
          and is_deleted = 0
    </select>

    <update id="boundWithWechat">
        update stu_auth
        set is_bound   = 1,
            wx_open_id = #{wxOpenId}
        where uname = #{uname}
    </update>

    <update id="unboundWithWechat">
        update stu_auth
        set is_bound   = 0,
            wx_open_id = null
        where uname = #{uname}
    </update>

    <resultMap id="stuAuthPoMap" type="com.zksy.reservationsystem.domain.po.StuAuthPo">
        <id property="id" column="id"/>
        <result property="uname" column="uname"/>
        <result property="passwd" column="passwd"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>
</mapper>
