<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zksy.reservationsystem.dao.TeaAuthDao">
    <select id="queryTeaAuthPoByJobId" resultMap="teaAuthPoMap">
        select id, uname, passwd, is_deleted
        from tea_auth
        where uname = #{jobId}
    </select>

    <resultMap id="teaAuthPoMap" type="com.zksy.reservationsystem.domain.po.TeaAuthPo">
        <id property="id" column="id"/>
        <result property="uname" column="uname"/>
        <result property="passwd" column="passwd"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>
</mapper>
