<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zksy.reservationsystem.dao.TeacherDao">
    <insert id="insertTeacher">
        insert
        teacher(`name`, job_id, contact, `type`, `position`) value (
        #{name},
        #{jobId},
        #{contact},
        #{type},
        #{position}
        )
    </insert>

    <update id="deleteTeacher">
        update teacher
        set is_deleted = 1
        where job_id = #{jobId}
    </update>

    <update id="updateTeacherPo">
        update teacher
        set `name`     = #{name},
            contact    = #{contact},
            `type`     = #{type},
            `position` = #{position},
            is_deleted = #{isDeleted}
        where job_id = #{jobId}
    </update>

    <select id="queryTeacherDtoByJobId" resultMap="teacherDtoMap">
        select t.id, `name`, job_id, contact, `type`, `position`, is_bound
        from teacher t
                 join tea_auth ta on t.job_id = ta.uname
        where job_id = #{jobId}
          and t.is_deleted = 0
    </select>

    <select id="queryTeacherPoByJobId" resultMap="teacherPoMap">
        select id, `name`, job_id, contact, `type`, `position`, is_deleted
        from teacher
        where job_id = #{jobId}
          and is_deleted = 0
    </select>

    <select id="queryTeacherDtoList" resultMap="teacherDtoMap">
        select id, `name`, job_id, contact, `type`, `position`
        from teacher
        <where>
            is_deleted = 0
            <if test="name != null and name != ''">
                and `name` like concat('%', #{name}, '%')
            </if>
            <if test="jobId != null and jobId != ''">
                and job_id like concat('%', #{jobId}, '%')
            </if>
            <if test="type != null">
                and `type` like concat('%', #{type}, '%')
            </if>
        </where>
    </select>

    <select id="queryTeacherPoWithDeleted" resultMap="teacherPoMap">
        select id, `name`, job_id, contact, `type`, `position`, is_deleted
        from teacher
        where job_id = #{jobId}
    </select>

    <resultMap id="teacherPoMap" type="com.zksy.reservationsystem.domain.po.TeacherPo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="jobId" column="job_id"/>
        <result property="contact" column="contact"/>
        <result property="type" column="type"/>
        <result property="position" column="position"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap id="teacherDtoMap" type="com.zksy.reservationsystem.domain.dto.TeacherDto">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="jobId" column="job_id"/>
        <result property="contact" column="contact"/>
        <result property="type" column="type"/>
        <result property="position" column="position"/>
        <result property="isBound" column="is_bound"/>
    </resultMap>
</mapper>
