<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zksy.reservationsystem.dao.TeacherDao">
    <insert id="insertTeacher">
        insert
        teacher(`name`, job_id, contact) value (
        #{name},
        #{jobId},
        #{contact}
        )
    </insert>

    <update id="deleteTeacher">
        update teacher
        set is_deleted = 1
        where job_id = #{jobId}
    </update>

    <select id="queryTeacherDtoByJobId" resultMap="teacherDtoMap">
        select id, `name`, job_id, contact, `type`
        from teacher
        where job_id = #{jobId}
          and is_deleted = 0
    </select>

    <select id="queryTeacherPoByJobId" resultMap="teacherPoMap">
        select id, `name`, job_id, contact, `type`, is_deleted
        from teacher
        where job_id = #{jobId}
          and is_deleted = 0
    </select>

    <select id="queryTeacherDtoList" resultMap="teacherDtoMap">
        select id, `name`, job_id, contact, `type`
        from teacher
        <where>
            is_deleted = 0
            <if test="name != null and name != ''">
                and `name` like concat('%', #{name}, '%')
            </if>
            <if test="jobId != null and jobId != ''">
                and job_id like concat('%', #{jobId}, '%')
            </if>
        </where>
    </select>

    <resultMap id="teacherPoMap" type="com.zksy.reservationsystem.domain.po.TeacherPo">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="jobId" column="job_id"/>
        <result property="contact" column="contact"/>
        <result property="type" column="type"/>
        <result property="isDeleted" column="is_deleted"/>
    </resultMap>

    <resultMap id="teacherDtoMap" type="com.zksy.reservationsystem.domain.dto.TeacherDto">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="jobId" column="job_id"/>
        <result property="contact" column="contact"/>
        <result property="type" column="type"/>
    </resultMap>
</mapper>
